.example-spacer {
    flex: 1 1 auto;
  }

  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-size: cover;
  }

  .background-dublin {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
    url('https://lh5.googleusercontent.com/p/AF1QipPJeurReeI2gomFbQePZP2aQHO05N0tpRENllfh=w408-h544-k-no');
    background-size: cover;
  }

  .container {
    margin: 20px 0 20px 0;
  }

  .town-options {
    margin: 20px 0 20px 0;
  }