
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Dublin</mat-card-title>
    <mat-card-subtitle>Light drizzle</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content class="background-dublin">
    <mat-list>
      <mat-list-item style="background-color: #fefefe90;"><li>Local time: 2024-03-15 8:54</li></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item style="background-color: #fefefe90;"><li>Temperature: 10°C</li></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item style="background-color: #fefefe90;"><li>Wind: 10km/h</li></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item style="background-color: #fefefe90;"><li>Humidity: 80%</li></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item style="background-color: #fefefe90;"><li>Humidity: 80%</li></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item style="background-color: #fefefe90;"><li>Humidity: 80%</li></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item style="background-color: #fefefe90;"><li>Humidity: 80%</li></mat-list-item>
    </mat-list>     
  </mat-card-content>

  <mat-card-actions style="display: flex; justify-content: center;">
    <mat-button-toggle-group value="Weather" name="fontStyle" aria-label="Font Style" class="town-options">
      <mat-button-toggle value="Weather">Weather</mat-button-toggle>
      <mat-button-toggle value="Timezone">Timezone</mat-button-toggle>
      <mat-button-toggle value="Astronomy">Astronomy</mat-button-toggle>
    </mat-button-toggle-group>
    
  </mat-card-actions>
</mat-card>



