
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" style="background-image: url('{{weatherAvatar}}')"></div>
    <mat-card-title>{{town}}</mat-card-title>
    <mat-card-subtitle>{{model.current.condition.text}}</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content class="{{townBackgroundClass}}">
    <mat-list>
      <mat-list-item class="list-item"><li>Local time: {{model.location.localtime}}</li></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="list-item"><li>Temperature: {{model.current.temp_c}} &deg;C</li></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="list-item"><li>Feels like: {{model.current.feelslike_c}} &deg;C</li></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="list-item"><li>Wind: {{model.current.wind_kph}} Km/h</li></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="list-item"><li>Gusts: {{model.current.gust_kph}} Km/h</li></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="list-item"><li>Humidity: {{model.current.wind_kph}} Km/h</li></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="list-item"><li>Precipitation: {{model.current.precip_mm}} mm</li></mat-list-item>
    </mat-list>     
  </mat-card-content>
  



